<%- partial('../partial/navbar.ejs') %>
<div class="controller">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 login-title">
      Let's get started.
    </div>
  </div>
  <div class="row">

      <div class="col-md-4 col-md-offset-4">

      <form role="form" class="login-form clearfix">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" placeholder="Enter phone">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Enter password">
        </div>

        <button  type="submit" class="btn btn-primary pull-right">Submit</botton>
      </form>

      </div>

  </div>
</div>
