body{
    background: inherit;
}
.login-title {
  color: #e8e8e8;
  margin-top:25px;
  font-size: 54px;
  text-align:center;
}
.login-banner {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.35))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.35) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.35) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */
}
.login-form {

  color: #303030;
  margin-top:50px;
  padding-top: 20px;
  border-radius: 5px;

}
.lander{
    background: url('/images/overhead_spices_desk.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
}
.landerOver{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.navbar-row {
  background: none;
}

.leftNav {
    background: blue;

}
