<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-row" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Jesse's Manager</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
         </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#fakelink">Sign up<span class="navbar-unread">1</span></a></li>
           </ul>
      </div>
    </nav>
  </div>
</div>
