<div class="mainLogin">
	<div class="landerOver">
		<div class="controller">
			<div class="row">
				<div class="col-xs-12">
					<nav class="navbar navbar-row login-nav" role="navigation">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">Jesse's Manager</a>
						</div>
						<div class="collapse navbar-collapse" id="navbar-collapse-01">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#fakelink">Sign up</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 login-title">Let's get started</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<!-- TODO: Form validation -->
					<form role="form" class="login-form clearfix" ng-controller="LoginCtrl as loginCtrl"
																  ng-submit="loginCtrl.doLogin(loginCtrl.user)">
					<div class="form-group">
						<label for="phone">Phone</label>
						<input type="number" class="form-control" placeholder="Enter phone" ng-model="loginCtrl.user.phone">
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" placeholder="Enter password" ng-model="loginCtrl.user.password">
					</div>

					<button  type="submit" class="btn btn-primary pull-right">Submit</botton>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
