
<div class="row" id="missionControl">
	<div class="col-md-1 leftPanel">
		<div class="branding">Jesse's Manager</div>
		<div class="link" ng-repeat="link in links">
			<a ui-sref="{{link.state}}" ui-sref-active="active">
				<span class="glyphicon {{link.glyphicon}}" aria-hidden="true"></span><br>
				{{link.name}}
			</a>
		</div>

	</div>
	<div class="col-md-11 rightPanel">
		<div class="row" id="missionControlNav">
			<div class="col-xs-12">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a ui-sref="setting">
								 <span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a ui-sref="login">
								Leave
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div ui-view></div>
	</div>
</div>
