<div class="row orders-tools">
    <nav class="navbar navbar-default" style="margin:10px;">
        <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar">
				</span>
				<span class="icon-bar">
				</span>
				<span class="icon-bar">
				</span>
			</button>
			<a class="navbar-brand" href="#">Orders</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{selectedRestaurant.name}} <span class="caret">
				</span>
				</a>
				<ul class="dropdown-menu" role="menu">
				<li class="mouseClick" class="mouseClick" ng-repeat="restaurant in restaurants track by restaurant.id">
					<a role="menuitem" tabindex="-1" class="mouseClick" ng-click="changeSelRestaurant(restaurant)">{{restaurant.name}}</a>
				</li>
				</ul>
			</li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                        Sort By
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Orders</button>
                            <button type="button" class="btn btn-default">Items</button>
                        </div>
                </div>
				<div class="form-group">
					<input type="text" class="form-control"	ng-model="search.$" placeholder="Search Orders">
				</div>
			</form>
			</div>
			<!-- /.navbar-collapse -->
		</div>
    </nav>
</div>

<div class="well" ng-repeat="order in orders | orderBy: 'createdAt':true | filter:search">
    <div class="row">
        <div class="col-md-4 center-block orderUserInfo">
            <div class="row">
                <img data-src="holder.js/140x140" class="img-circle" alt="140x140" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 140px; height: 140px;">
            </div>
            <div class="row" >
                <h3>{{order.user.firstName + " " + order.user.lastName}}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
              <a href="#" class="list-group-item" ng-repeat="item in order.items">
                <h4 class="list-group-item-heading">{{item.name}}</h4>
                <p class="list-group-item-text">{{item.description || ""}} </p>
              </a>
            </div>
        </div>
        <div class="col-md-4 orderButtons">
            <div class="row margin-bottom">
                <h3>{{order.totalSale | currency}}</h3>
            </div>

            <div class="row margin-bottom">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="tryTransaction({{order.id}})">Accept</button>
                    <button type="button" class="btn btn-danger btn-lg">Decline</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="deleteOrder({{order.id}})"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
