<h2>Restaurants</h2>

<div class="row" style="padding:10px;">
    <div class="col-md-6">
        <button class="btn glyphicon glyphicon-plus" aria-hidden="true" ng-click="createNewOn=true">Create</button>
    </div>
    <div class="col-md-6">
        <input class="pull-right" ng-model="search.$" placeholder="Search Restaurants">
    </div>
</div>
<map center="current-location" zoom="6" ng-show="createNewOn">
    <info-window position="current-location" visible="true">
        <span>Loation found using HTML5.</span>
    </info-window>
</map>

<div class="row" style="padding:10px;" ng-show="!createNewOn">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="restaurant in restaurants | filter:search">
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.latitude}}</td>
                <td>{{restaurant.longitude}}</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>
