<h2>Restaurants</h2>

<div class="row" style="padding:10px;">
    <div class="col-md-6">
        <button class="btn glyphicon glyphicon-plus" aria-hidden="true" data-toggle="modal" data-target="#newRestaurantModal">Create</button>
    </div>
    <div class="col-md-6">
        <input class="pull-right" ng-model="search.$" placeholder="Search Restaurants">
    </div>
</div>

<div class="row" style="padding:10px;" ng-show="!createNewOn">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="restaurant in restaurants | filter:search">
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.latitude}}</td>
                <td>{{restaurant.longitude}}</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="newRestaurantModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Restaurant</h4>
            </div>
            <div class="modal-body">
                <button ng-click="shown=true">shown</button>{{shown}}
                <ui-gmap-google-map center='map.center' refresh='shown' zoom='map.zoom'></ui-gmap-google-map>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
